* {
    box-sizing: border-box;

}

body {
    font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background-color: #f8f5f2;
    /* Light creamy background */
    color: #333;
    margin: 0;
    padding-top: 20px;
    line-height: 1.6;





}

header {
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    padding: 1rem 2rem;
}

.head-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border: 2px solid black;
    border-radius: 8px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px black;





}

.location {
    padding-left: 1rem;
    background-color: white;


}

.search-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    background-color: white;



}

.search {
    padding-left: 2rem;
    background-color: white;
}



.search input {
    width: 60rem;
    padding: 0.5rem;
    background-color: white;

    border: none;
    font-size: 1rem;

}

.signup-buttons {
    display: flex;
    gap: 1.5rem;
}

.login-btn,
.signup-btn {
    border: none;
    background-color: white;
    font-size: 18px;
    cursor: pointer;
}

img {

    width: 100%;
    height: 500px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px black;

}

.offers {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    height: 60px;
    width: 100%;
    flex-wrap: wrap;
}

.offer-btn {
    padding: 10px 50px;
    overflow: hidden;
    border-radius: 15px;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border: 2px solid #d35400;
    color: #d35400;
}

.offer-btn:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: #d35400;
    color: #ffffff;
    box-shadow: 0 4px 8px #d354004d;
}

.category-list {
    display: flex;


}

.category-item {
    margin-right: 20px;
    text-align: center;
    width: 6000px;
    height: 200px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}

.category-item:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.category-image {

    height: 200px;

    margin-top: 0%;
    border-radius: 20px;
}

.hotel-container {
    width: 100%;
    padding: 0 7rem 10rem;
    display: flex;


}

.first-row {
    width: 100%;
    display: flex;
    margin-left: 0;
    flex-direction: row;
    gap: 4rem;
}

.hotel-banner {
    display: flex;
    justify-content: space-evenly;
    width: 340px;
    height: 300px;
    border-radius: 8px;

}

.hotel-card {
    border: white transparent 20px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);

}

.hotel-card:hover {
    transform: scale(1.05);
    border-color: whitesmoke;
}

.hotel-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px;

}

.vedio-insert {
    margin-top: 5%;
}

.video-container {
    display: flex;
    justify-content: center;

    padding: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

video:hover {
    cursor: pointer;
    transform: scale(1.02);


}

video {
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

footer {
    display: flex;
    justify-content: center;


    border: 2px solid black;
    height: 4rem;


    border-radius: 20px;
    width: 100%;

    background-color: #222;
    color: #aaa;
    text-align: center;
    padding: 1.5rem;
    margin-top: 4rem;

}